@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground:  #0a0a0a;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-print-color-adjust: exact; /* Background aur colors preserve karne ke liye */
    print-color-adjust: exact;
}

/* Print ke liye page setup */
@media print {
  @page {
    size: A4 landscape; /* Landscape printing */
    margin: 10mm;       /* Thoda margin de do */
  }

  .page-break {
    page-break-before: always; /* Har page break pe naya page start */
    break-before: page;
  }

  /* Landscape me grid/flex sahi dikhe */
  .print-flex {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
  }
}


